<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.MerItemDAO">
	<insert id="addMerItem" useGeneratedKeys="true" keyProperty="ITEM_ID" parameterType="Item">
	    INSERT INTO T_ITEMS(
	    	ITEM_NAME,ITEM_SHORT_NAME,MERCHANT_ID,CATEGORY_ID,
	    	IS_PREF,IS_SKILL,IS_POINT,CURR_PRICE,ORI_PRICE,
	    	HEAD_ICON,MAIN_ICON,INVENTORY,QTY_SOLD,ITEM_POINT,
	    	POINT_NUM,CREATE_TIME,STATUS,ITEM_DESC)
	    VALUES(
	    	#{ITEM_NAME},#{ITEM_SHORT_NAME},#{MERCHANT_ID},#{CATEGORY_ID},
	    	#{IS_PREF},#{IS_SKILL},#{IS_POINT},#{CURR_PRICE,jdbcType=NUMERIC},#{ORI_PRICE,jdbcType=NUMERIC},
	    	#{HEAD_ICON},#{MAIN_ICON},#{INVENTORY,jdbcType=NUMERIC},#{QTY_SOLD,jdbcType=NUMERIC},#{ITEM_POINT,jdbcType=NUMERIC},
	    	#{POINT_NUM,jdbcType=NUMERIC},#{CREATE_TIME},#{STATUS},#{ITEM_DESC})
    </insert>
    
    <update id="updateMerItem" parameterType="map">  
          UPDATE T_ITEMS SET 
          	ITEM_NAME = #{ITEM_NAME},
          	ITEM_SHORT_NAME = #{ITEM_SHORT_NAME},
          	CATEGORY_ID = #{CATEGORY_ID},
          	IS_PREF = #{IS_PREF},
          	IS_SKILL = #{IS_SKILL},
          	IS_POINT = #{IS_POINT},
          	CURR_PRICE = #{CURR_PRICE,jdbcType=NUMERIC},
          	HEAD_ICON = #{HEAD_ICON},
          	MAIN_ICON = #{MAIN_ICON},
          	INVENTORY = #{INVENTORY,jdbcType=NUMERIC},
          	ITEM_DESC = #{ITEM_DESC}
          WHERE ITEM_ID = #{ITEM_ID}
 	</update> 
 	
 	<select id="searchMerItem" parameterType="map" resultType="Map">
          SELECT * FROM T_ITEMS
          WHERE 1=1
          <if test="ITEM_ID != null and ITEM_ID != '' ">  
          		AND ITEM_ID = #{ITEM_ID, jdbcType=NUMERIC}  
    	  </if> 
    	  <if test="ITEM_NAME != null and ITEM_NAME != '' ">  
          		AND ITEM_NAME LIKE CONCAT(CONCAT('%', #{ITEM_NAME, jdbcType=VARCHAR}),'%') 
    	  </if>
    	  <if test="ITEM_SHORT_NAME != null and ITEM_SHORT_NAME != '' ">  
          		AND ITEM_SHORT_NAME LIKE CONCAT(CONCAT('%', #{ITEM_SHORT_NAME}),'%') 
    	  </if>
    	  <if test="MERCHANT_ID != null and MERCHANT_ID != '' ">  
          		AND MERCHANT_ID = #{MERCHANT_ID} 
    	  </if>
    	  <if test="CATEGORY_ID != null and CATEGORY_ID != '' ">  
          		AND CATEGORY_ID = #{CATEGORY_ID} 
    	  </if>
    	  <if test="IS_PREF != null and IS_PREF != '' ">  
          		AND IS_PREF = #{IS_PREF} 
    	  </if>
    	  <if test="IS_SKILL != null and IS_SKILL != '' ">  
          		AND IS_SKILL = #{IS_SKILL} 
    	  </if>
    	  <if test="IS_POINT != null and IS_POINT != '' ">  
          		AND IS_POINT = #{IS_POINT} 
    	  </if>
    </select>
    
    <select id="searchItemComments" parameterType="map" resultType="Map">
          SELECT * FROM T_ITEM_COMMENTS WHERE ITEM_ID = #{ITEM_ID}
    </select>
</mapper>