<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.MerOrderDAO">

	<select id="getOrdersByUser" parameterType="map" resultType="Map">
	      SELECT A.ORDER_ID,A.MERCHANT_ID,C.MERCHANT_NAME,C.HEAD_ICON,A.USER_ID,A.ORDER_TYPE,A.STATUS,
		  A.PAY_TYPE,A.TOTAL_PAY,A.ORDER_ALIAS_ID,A.ORDER_TIME,A.CANCEL_TIME,A.CAPTCHA,
		  A.PAY_TIME,A.BACK_TIME,A.CONSUME_TIME,A.SHUT_TIME,A.DEL_TIME,A.CANCEL_TYPE,
		  A.CANCEL_REASON,A.BACK_REASON,A.COMM_STATUS,A.NOTE,A.FROM_TYPE
          FROM T_ORDERS A,T_MERCHANTS C
          WHERE A.USER_ID = #{USER_ID}
          AND A.MERCHANT_ID = C.MERCHANT_ID
          <choose>
          	<when test="STATUS == '70' ">
				AND 1 = 1
			</when>
			<when test="STATUS != null and STATUS != '' ">
				AND A.STATUS = #{STATUS}
			</when>
			<otherwise>
				AND A.STATUS != '70'
			</otherwise>
		  </choose>
    </select>
    <select id="getOrderDetailByOrderId" parameterType="map" resultType="Map">
    	SELECT
			A.ORDER_ID,
			A.ITEM_ID,
			A.ITEM_NAME,
			A.QTY_SOLD,
			A.PAY_PRICE,
			A.SINGLE_PAY,
			B.HEAD_ICON,
			B.ITEM_DESC 
		FROM
			T_ORDERS_LINE A,
			T_ITEMS B 
		WHERE
			A.ORDER_ID = #{ORDER_ID} AND
			A.ITEM_ID = B.ITEM_ID
    </select>
    <select id="getOrdersByMerchant" parameterType="map" resultType="Map">
          SELECT A.ORDER_ID,A.MERCHANT_ID,A.USER_ID,A.ORDER_TYPE,A.STATUS,
		  A.PAY_TYPE,A.TOTAL_PAY,A.ORDER_ALIAS_ID,A.ORDER_TIME,A.CANCEL_TIME,A.CAPTCHA,
		  A.PAY_TIME,A.BACK_TIME,A.CONSUME_TIME,A.SHUT_TIME,A.DEL_TIME,A.CANCEL_TYPE,
		  A.CANCEL_REASON,A.BACK_REASON,A.COMM_STATUS,A.NOTE,B.USER_NAME,B.USER_ICON,A.FROM_TYPE
          FROM T_ORDERS A,T_USERS B
          WHERE A.MERCHANT_ID = #{MERCHANT_ID}
          AND A.USER_ID = B.USER_ID
          <choose>
          	<when test="STATUS == '70' ">
				AND 1 = 1
			</when>
			<when test="STATUS != null and STATUS != '' ">
				AND A.STATUS = #{STATUS}
			</when>
			<otherwise>
				AND A.STATUS != '70'
			</otherwise>
		 </choose>
    </select>
    <select id="getOrdersByAliaId" parameterType="map" resultType="Map">
          SELECT A.ORDER_ID,A.MERCHANT_ID,A.USER_ID,A.ORDER_TYPE,A.STATUS,
		  A.PAY_TYPE,A.TOTAL_PAY,A.ORDER_ALIAS_ID,A.ORDER_TIME,A.CANCEL_TIME,A.CAPTCHA,
		  A.PAY_TIME,A.BACK_TIME,A.CONSUME_TIME,A.SHUT_TIME,A.DEL_TIME,A.CANCEL_TYPE,
		  A.CANCEL_REASON,A.BACK_REASON,A.COMM_STATUS,A.NOTE,B.USER_NAME,B.USER_ICON,A.FROM_TYPE
          FROM T_ORDERS A,T_USERS B,T_MERCHANTS C
          WHERE A.MERCHANT_ID = #{MERCHANT_ID}
          AND A.USER_ID = B.USER_ID
          AND A.ORDER_ALIAS_ID = #{ORDER_ALIAS_ID}
    </select>
    
    <update id="updateOrderComsume" parameterType="map">  
          UPDATE T_ORDERS SET 
          STATUS = '50',
          CONSUME_TIME = #{CONSUME_TIME}
          WHERE ORDER_ID = #{ORDER_ID}
    </update> 
    
    <update id="updateOrderClose" parameterType="map">  
          UPDATE T_ORDERS SET 
          STATUS = '60',
          SHUT_TIME = #{SHUT_TIME}
          WHERE ORDER_ID = #{ORDER_ID}
    </update> 
    <insert id="insertUserPoint" parameterType="map">
	    INSERT INTO T_USERS_POINT(USER_ID,TIME1,DATE1,POINT_NUM,ORDER_ID)
        VALUES(#{USER_ID},#{TIME1},#{DATE1},#{POINT_NUM,jdbcType=NUMERIC},#{ORDER_ID})
    </insert>
    <select id="getMerUserIdAndPay" parameterType="map" resultType="Map">
        SELECT A.USER_ID,B.TOTAL_PAY
        FROM T_MERCHANTS A,T_ORDERS B
		WHERE A.MERCHANT_ID = B.MERCHANT_ID
		AND B.ORDER_ID = #{ORDER_ID}
		AND B.USER_ID = #{USER_ID}
    </select>
    
    <select id="getSingleCommentByUserId" parameterType="map" resultType="Map">
        SELECT * FROM T_ITEM_COMMENTS 
        WHERE USER_ID = #{USER_ID}
        AND ITEM_ID = #{ITEM_ID}
        AND ORDER_ID = #{ORDER_ID}
    </select>
    <delete id="deleteComment" parameterType="map">  
        DELETE FROM T_ITEM_COMMENTS 
        WHERE USER_ID = #{USER_ID}
        AND ITEM_ID = #{ITEM_ID}
        AND ORDER_ID = #{ORDER_ID}
    </delete> 
    <insert id="addComment" parameterType="map">
	    INSERT INTO T_ITEM_COMMENTS(ORDER_ID,ITEM_ID,USER_ID,ITEM_POINT,COMENT_TITLE,COMMENT_DESC,COMMENT_TIME,NOTE)
        VALUES(#{ORDER_ID},#{ITEM_ID},#{USER_ID},#{ITEM_POINT,jdbcType=NUMERIC},#{COMENT_TITLE},#{COMMENT_DESC},#{COMMENT_TIME},#{NOTE})
    </insert>
    <update id="updateOrderComment" parameterType="map">  
        UPDATE T_ORDERS SET COMM_STATUS = '1'
        WHERE ORDER_ID = #{ORDER_ID}
    </update>
    
    <update id="updateOrderForDelete" parameterType="map">  
        UPDATE T_ORDERS SET STATUS = '70',DEL_TIME = #{DEL_TIME}
        WHERE ORDER_ID = #{ORDER_ID}
    </update> 
    
    <select id="getConsumeOrders" parameterType="map" resultType="Map">
        SELECT ORDER_ID, CONSUME_TIME, USER_ID, TOTAL_PAY
        FROM T_ORDERS 
        WHERE STATUS = '50'
        AND CONSUME_TIME IS NOT NULL 
        AND CONSUME_TIME != ''
    </select>
</mapper>