<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.MerOrderDAO">

	<select id="getOrdersByUser" parameterType="map" resultType="Map">
          SELECT ORDER_ID,MERCHANT_ID,USER_ID,ORDER_TYPE,STATUS,
          PAY_TYPE,TOTAL_PAY,ORDER_ALIAS_ID,ORDER_TIME,CANCEL_TIME,
          PAY_TIME,BACK_TIME,CONSUME_TIME,SHUT_TIME,DEL_TIME,CANCEL_TYPE,
          CANCEL_REASON,BACK_REASON,COMM_STATUS,NOTE
          FROM T_ORDERS
          WHERE USER_ID = #{USER_ID}
          <choose>
			<when test="STATUS == '70'">
				AND 1 = 1
			</when>
			<otherwise>
				AND STATUS != '70'
			</otherwise>
		</choose>
    </select>
    <select id="getOrdersByMerchant" parameterType="map" resultType="Map">
          SELECT ORDER_ID,MERCHANT_ID,USER_ID,ORDER_TYPE,STATUS,
          PAY_TYPE,TOTAL_PAY,ORDER_ALIAS_ID,ORDER_TIME,CANCEL_TIME,
          PAY_TIME,BACK_TIME,CONSUME_TIME,SHUT_TIME,DEL_TIME,CANCEL_TYPE,
          CANCEL_REASON,BACK_REASON,COMM_STATUS,NOTE
          FROM T_ORDERS
          WHERE MERCHANT_ID = #{MERCHANT_ID}
    </select>
    <select id="getOrdersByAliaId" parameterType="map" resultType="Map">
          SELECT ORDER_ID,MERCHANT_ID,USER_ID,ORDER_TYPE,STATUS,
          PAY_TYPE,TOTAL_PAY,ORDER_ALIAS_ID,ORDER_TIME,CANCEL_TIME,
          PAY_TIME,BACK_TIME,CONSUME_TIME,SHUT_TIME,DEL_TIME,CANCEL_TYPE,
          CANCEL_REASON,BACK_REASON,COMM_STATUS,NOTE
          FROM T_ORDERS
          WHERE MERCHANT_ID = #{MERCHANT_ID}
          AND ORDER_ALIAS_ID = #{ORDER_ALIAS_ID}
    </select>
    
    <update id="updateOrderComsume" parameterType="map">  
          UPDATE T_ORDERS SET 
          STATUS = '50',
          CONSUME_TIME = #{CONSUME_TIME}
          WHERE ORDER_ID = #{ORDER_ID}
    </update> 
    
    <update id="updateOrderClose" parameterType="map">  
          UPDATE T_ORDERS SET 
          STATUS = '60',
          SHUT_TIME = #{SHUT_TIME}
          WHERE ORDER_ID = #{ORDER_ID}
    </update> 
    <insert id="insertUserPoint" parameterType="map">
	    INSERT INTO T_USERS_POINT(USER_ID,TIME1,DATE1,POINT_NUM,ORDER_ID)
        VALUES(#{USER_ID},#{TIME1},#{DATE1},#{POINT_NUM,jdbcType=NUMERIC},#{ORDER_ID})
    </insert>
    <select id="getTotalPoint" parameterType="map" resultType="String">
        SELECT TOTAL_POINT FROM T_USERS_EXPAND WHERE USER_ID = #{USER_ID}
    </select>
    <update id="UpdateUserTotalPoint" parameterType="map">  
        UPDATE T_USERS_EXPAND SET 
        TOTAL_POINT = #{TOTAL_POINT}
        WHERE USER_ID = #{USER_ID}
    </update> 
    
    <select id="getSingleCommentByUserId" parameterType="map" resultType="Map">
        SELECT * FROM T_ITEM_COMMENTS 
        WHERE USER_ID = #{USER_ID}
        AND ITEM_ID = #{ITEM_ID}
        AND ORDER_ID = #{ORDER_ID}
    </select>
    <delete id="deleteComment" parameterType="map">  
        DELETE FROM T_ITEM_COMMENTS 
        WHERE USER_ID = #{USER_ID}
        AND ITEM_ID = #{ITEM_ID}
        AND ORDER_ID = #{ORDER_ID}
    </delete> 
    <insert id="addComment" parameterType="map">
	    INSERT INTO T_ITEM_COMMENTS(ORDER_ID,ITEM_ID,USER_ID,ITEM_POINT,COMENT_TITLE,COMMENT_DESC,COMMENT_TIME,NOTE)
        VALUES(#{ORDER_ID},#{ITEM_ID},#{USER_ID},#{ITEM_POINT,jdbcType=NUMERIC},#{COMENT_TITLE},#{COMMENT_DESC},#{COMMENT_TIME},#{NOTE})
    </insert>
    <update id="updateOrderComment" parameterType="map">  
        UPDATE T_ORDERS SET COMM_STATUS = '1'
        WHERE ORDER_ID = #{ORDER_ID}
    </update>
</mapper>