<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.MerStoreDAO">
	<select id="getMerDetail" parameterType="map" resultType="Map">
          SELECT A.MERCHANT_ID, A.USER_ID, MERCHANT_NAME, SHORT_NAME, MERCHANT_TYPE, 
          MERCHANT_OWNER, TEL_NUMBER, HEAD_ICON, MAIN_ICON, CANT_CODE, LONGITUDE, 
          LATITUDE, MERCHANT_ADDR, ABILITY, BUSI_DESC, OPEN_HOURS, STATUS, BUSI_TYPE,
          REG_TIME, LAST_UPDATE, TOTAL_POINT
          <if test="USER_ID != null and USER_ID != '' ">  
          , C.MERCHANT_ID IS_COLL
    	  </if>
          FROM T_MERCHANTS A
          <if test="USER_ID != null and USER_ID != '' ">  
          		LEFT JOIN T_USER_MER_COLL C
          		ON C.USER_ID = #{USER_ID}
          		AND A.MERCHANT_ID = C.MERCHANT_ID
    	  </if>
          ,T_MERCHANT_EXPAND B
          WHERE A.MERCHANT_ID = #{MERCHANT_ID}
          AND B.MERCHANT_ID = #{MERCHANT_ID}
          AND A.MERCHANT_ID = B.MERCHANT_ID 
    </select>
    
    <select id="getMerItems" parameterType="map" resultType="Map">
          SELECT * FROM T_ITEMS WHERE MERCHANT_ID = #{MERCHANT_ID} AND STATUS = '30'
    </select>
    
    <select id="getMerList" parameterType="map" resultType="Map">
          SELECT A.*,B.TOTAL_POINT, 
          SQRT(POWER(#{LONGITUDE, jdbcType=NUMERIC}-A.LONGITUDE,2)+POWER(#{LATITUDE, jdbcType=NUMERIC}-A.LATITUDE,2)) * 140000 DIST
          FROM T_MERCHANTS A LEFT JOIN T_MERCHANT_EXPAND B
          ON A.MERCHANT_ID = B.MERCHANT_ID
          WHERE STATUS = '30'
          <if test="MERCHANT_NAME != null and MERCHANT_NAME != '' ">  
          		AND A.MERCHANT_NAME LIKE CONCAT(CONCAT('%', #{MERCHANT_NAME, jdbcType=VARCHAR}),'%') 
    	  </if>
    	  <if test="SHORT_NAME != null and SHORT_NAME != '' ">  
          		AND A.SHORT_NAME LIKE CONCAT(CONCAT('%', #{SHORT_NAME, jdbcType=VARCHAR}),'%') 
    	  </if>
    	  <if test="MERCHANT_TYPE != null and MERCHANT_TYPE != '' ">  
          		AND A.MERCHANT_TYPE = #{MERCHANT_TYPE} 
    	  </if>
    	  <if test="MERCHANT_ADDR != null and MERCHANT_ADDR != '' ">  
          		AND A.MERCHANT_ADDR LIKE CONCAT(CONCAT('%', #{MERCHANT_ADDR, jdbcType=VARCHAR}),'%') 
    	  </if>
    	  <if test="ABILITY != null and ABILITY != '' ">  
          		AND A.ABILITY LIKE CONCAT(CONCAT('%', #{ABILITY, jdbcType=VARCHAR}),'%') 
    	  </if>
    	  <if test="BUSI_DESC != null and BUSI_DESC != '' ">  
          		AND A.BUSI_DESC LIKE CONCAT(CONCAT('%', #{BUSI_DESC, jdbcType=VARCHAR}),'%') 
    	  </if>
    	  <if test="BUSI_TYPE != null and BUSI_TYPE != '' ">  
          		AND A.BUSI_TYPE = #{BUSI_TYPE}
    	  </if>
   	      <choose>
   	      	<when test="DISTANCE == '10'">
				AND DIST <![CDATA[<=20000]]> 
				AND A.CANT_CODE = #{CANT_CODE}
			</when>
			<when test="DISTANCE == '20'">
				AND A.CANT_CODE = #{CANT_CODE}
			</when>
			<otherwise>
				AND 1 = 1
			</otherwise>
		  </choose>
    </select>
</mapper> 