<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.UserDAO">

      <insert id="addRegistAlg" parameterType="map">
          INSERT INTO T_USERS(USER_ID,USER_PWD,USER_TYPE,TEL_NUMBER,IN_VALID,CANT_CODE)
          VALUES(#{USER_ID},#{USER_PWD},#{USER_TYPE},#{TEL_NUMBER},#{IN_VALID},#{CANT_CODE})
      </insert>
      
      <insert id="addUserExpand" parameterType="map">
          INSERT INTO T_USERS_EXPAND(USER_ID,TOTAL_POINT,TOTAL_MONEY)
          VALUES(#{USER_ID},#{TOTAL_POINT,jdbcType=NUMERIC},#{TOTAL_MONEY,jdbcType=NUMERIC})
      </insert>
      
      <select id="getCheckReg" parameterType="map" resultType="int">
          SELECT COUNT(*) FROM T_USERS WHERE TEL_NUMBER = #{TEL}
      </select>
      
      <select id="login" parameterType="map" resultType="String">
          SELECT USER_ID FROM T_USERS WHERE TEL_NUMBER = #{TEL} AND USER_PWD = #{PWD}
      </select>
      
      <select id="getMerchantInfo" parameterType="map" resultType="Map">
          SELECT MERCHANT_ID,MERCHANT_TYPE,STATUS FROM T_MERCHANTS 
          WHERE USER_ID = #{USER_ID}
      </select>
      
      <update id="updatePwd" parameterType="map">  
          UPDATE T_USERS SET USER_PWD = #{PWD} WHERE TEL_NUMBER = #{TEL}
      </update> 
      
      <select id="checkMerchant" parameterType="map" resultType="int">
          SELECT COUNT(*) FROM T_MERCHANTS WHERE USER_ID = #{USER_ID}
      </select>
      
      <insert id="insertToMerchant" parameterType="map">
          INSERT INTO T_MERCHANTS(MERCHANT_ID,USER_ID,MERCHANT_NAME,MERCHANT_TYPE,STATUS,REG_TIME)
          VALUES(#{MERCHANT_ID},#{USER_ID},#{MERCHANT_NAME},#{MERCHANT_TYPE},#{STATUS},#{REG_TIME})
      </insert>
      
      <insert id="insertToMerchantExpand" parameterType="map">
          INSERT INTO T_MERCHANT_EXPAND(MERCHANT_ID,TOTAL_POINT)
          VALUES(#{MERCHANT_ID},#{TOTAL_POINT,jdbcType=NUMERIC})
      </insert>
      
      <update id="updateToMerchant" parameterType="map">  
          UPDATE T_MERCHANTS SET 
          	MERCHANT_NAME = #{MERCHANT_NAME},
          	MERCHANT_TYPE = #{MERCHANT_TYPE},
          	MERCHANT_OWNER = #{MERCHANT_OWNER},
          	HEAD_ICON = #{HEAD_ICON},
          	MAIN_ICON = #{MAIN_ICON},
          	CANT_CODE = #{CANT_CODE},
          	LONGITUDE = #{LONGITUDE,jdbcType=NUMERIC},
          	LATITUDE = #{LATITUDE,jdbcType=NUMERIC},
          	MERCHANT_ADDR = #{MERCHANT_ADDR},
          	ABILITY = #{ABILITY},
          	BUSI_DESC = #{BUSI_DESC},
          	OPEN_HOURS = #{OPEN_HOURS},
          	STATUS = #{STATUS},
          	BUSI_TYPE = #{BUSI_TYPE},
          	LAST_UPDATE = #{LAST_UPDATE}
          	WHERE MERCHANT_ID = #{MERCHANT_ID}
      </update> 
      
      <select id="getUserInfo" parameterType="map" resultType="Map">
          SELECT USER_ID,USER_NAME,USER_TYPE,USER_ICON,NICKNAME,GENDER,TEL_NUMBER,
          TEL_REC,CANT_CODE,USER_ADDR,EMAIL,INVITER,REG_TIME,ABILITY,IDEN_CARD,
          IDEN_ICON,ZFB_ACCOUNT,WX_ACCOUNT,YL_ACCOUNT
          FROM T_USERS WHERE USER_ID = #{USER_ID} AND IN_VALID = '1'
      </select>
      
      <update id="updateUserInfo" parameterType="map">  
          UPDATE T_USERS SET 
          	USER_NAME = #{USER_NAME},
          	USER_ICON = #{USER_ICON},
          	NICKNAME = #{NICKNAME},
          	GENDER = #{GENDER},
          	TEL_REC = #{TEL_REC},
          	USER_ADDR = #{USER_ADDR},
          	EMAIL = #{EMAIL},
          	ABILITY = #{ABILITY}
          WHERE USER_ID = #{USER_ID}
      </update> 
      
      <update id="updateUserIC" parameterType="map">  
          UPDATE T_USERS SET 
          	IDEN_CARD = #{IDEN_CARD},
          	IDEN_ICON = #{IDEN_ICON}
          WHERE USER_ID = #{USER_ID}
      </update> 
      
      <update id="updateUserAcc" parameterType="map">  
          UPDATE T_USERS SET 
          	ZFB_ACCOUNT = #{ZFB_ACCOUNT},
          	WX_ACCOUNT = #{WX_ACCOUNT},
          	YL_ACCOUNT = #{YL_ACCOUNT},
          	PAY_PWD = #{PAY_PWD}
          WHERE USER_ID = #{USER_ID}
      </update> 
</mapper>