<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.UserTaskActionDAO">
	<insert id="addTaskBider" parameterType="map">
      	INSERT INTO
			T_TASKS_LINE 
			(
				TASK_ID,
				USER_ID,
				BID_TIME,
				IS_BIDE, 
				STATUS
			)
		VALUES
			(
				#{TASK_ID},
				#{USER_ID},
				#{BID_TIME},
				'20',
				'10'
			)
	</insert>
 	<update id="updateTaskBider" parameterType="map">  
   		UPDATE T_TASKS SET TASK_BID_STATUS = '30', BID_NUM = BID_NUM + 1
   		WHERE TASK_ID = #{TASK_ID}
    </update> 
    
    <update id="updateCancelTaskBider" parameterType="map">  
   		UPDATE T_TASKS_LINE 
   		SET STATUS = '20', CANCEL_TIME = #{CANCEL_TIME}
   		WHERE TASK_ID = #{TASK_ID}
   		AND USER_ID = #{USER_ID}
    </update>
    <update id="updateTaskStatus" parameterType="map">  
   		UPDATE T_TASKS 
   		SET BID_NUM = #{BID_NUM}
   		<if test="TASK_BID_STATUS != null and TASK_BID_STATUS != '' ">  
          	,TASK_BID_STATUS = #{TASK_BID_STATUS}
   	    </if> 
   		WHERE TASK_ID = #{TASK_ID}
    </update>
    
    <update id="updateTaskStatusForSec" parameterType="map">  
   		UPDATE T_TASKS 
        SET TASK_BID_STATUS = '40', TASK_GET_TIME = #{TASK_GET_TIME}
   		WHERE TASK_ID = #{TASK_ID}
    </update>
    <update id="updateBiderStatus" parameterType="map">  
   		UPDATE T_TASKS_LINE 
        SET IS_BIDE = '10'
   		WHERE TASK_ID = #{TASK_ID}
   		AND USER_ID = #{BIDE_USER_ID}
    </update>
    
    <update id="updateBiderBackTask" parameterType="map">  
   		UPDATE T_TASKS 
        SET TASK_BID_STATUS = '49', TAKS_UNDONE_TIME = #{TAKS_UNDONE_TIME}
   		WHERE TASK_ID = #{TASK_ID}
    </update>
    <update id="updatePuberBackTask" parameterType="map">  
   		UPDATE T_TASKS 
        SET TASK_BID_STATUS = '50', TASK_BACK_TIME = #{TASK_BACK_TIME}
   		WHERE TASK_ID = #{TASK_ID}
    </update>
    
    <update id="updateTaskDone" parameterType="map">  
   		UPDATE T_TASKS 
        SET TASK_BID_STATUS = '60', TASK_DONE_TIME = #{TASK_DONE_TIME}
   		WHERE TASK_ID = #{TASK_ID}
    </update>
    <update id="updateTaskLineDone" parameterType="map">  
   		UPDATE T_TASKS_LINE 
        SET DONE_ICON1 = #{DONE_ICON1},
        DONE_ICON2 = #{DONE_ICON2},
        DONE_ICON3 = #{DONE_ICON3},
        DONE_ICON4 = #{DONE_ICON4}
   		WHERE TASK_ID = #{TASK_ID}
   		AND USER_ID = #{BIDE_USER_ID}
    </update>
    
    <update id="updateTaskUnFinish" parameterType="map">  
   		UPDATE T_TASKS 
        SET TASK_BID_STATUS = '61', TASK_CON_UNDONE_TIME = #{TASK_CON_UNDONE_TIME}
   		WHERE TASK_ID = #{TASK_ID}
    </update>
    
    <update id="updateTaskFinish" parameterType="map">  
   		UPDATE T_TASKS 
        SET TASK_BID_STATUS = '70', TASK_FINISH_TIME = #{TASK_FINISH_TIME}
   		WHERE TASK_ID = #{TASK_ID}
    </update>
    <update id="updateTaskLineFinish" parameterType="map">  
   		UPDATE T_TASKS_LINE 
        SET GET_PAID = #{GET_PAID,jdbcType=NUMERIC}
   		WHERE TASK_ID = #{TASK_ID}
   		AND USER_ID = #{BIDE_USER_ID}
    </update>
    
    <select id="getUnProcessTasks" parameterType="map" resultType="Map">
        SELECT TAKS_ID,TASK_BID_STATUS,TASK_DEADLINE,USER_ID,TASK_TOTAL_PAID
        FROM T_TASKS
        WHERE TASK_AUDIT_STATUS = '20'
        AND TASK_BID_STATUS != '80'
    </select>
</mapper>