<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.UserItemDAO">
	<insert id="addMerColl" parameterType="map">
        INSERT INTO T_USER_MER_COLL(USER_ID,MERCHANT_ID,NOTE,TIME1)
        VALUES(#{USER_ID},#{MERCHANT_ID},#{NOTE},#{TIME1})
    </insert>
    <insert id="addItemColl" parameterType="map">
        INSERT INTO T_USER_ITEM_COLL(USER_ID,ITEM_ID,NOTE,TIME1)
        VALUES(#{USER_ID},#{ITEM_ID},#{NOTE},#{TIME1})
    </insert>
    <delete id="deleteMerColl" parameterType="map">  
        DELETE FROM T_USER_MER_COLL WHERE USER_ID = #{USER_ID} AND MERCHANT_ID = #{MERCHANT_ID}
    </delete>  
    <delete id="deleteItemColl" parameterType="map">  
        DELETE FROM T_USER_ITEM_COLL WHERE USER_ID = #{USER_ID} AND ITEM_ID = #{ITEM_ID}
    </delete> 
</mapper>