<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="echo.sp.app.dao.UserDAO">

      <insert id="registAlg" parameterType="map">
          INSERT INTO T_USERS(USER_ID,USER_PWD,USER_TYPE,TEL_NUMBER,IN_VALID)
          VALUES(#{USER_ID},#{USER_PWD},#{USER_TYPE},#{TEL_NUMBER},#{IN_VALID})
      </insert>
      
      <select id="getCheckReg" parameterType="map" resultType="int">
          SELECT COUNT(*) FROM T_USERS WHERE TEL_NUMBER = #{TEL}
      </select>
      
      <select id="login" parameterType="map" resultType="int">
          SELECT COUNT(*) FROM T_USERS WHERE USER_ID = #{ACC} AND USER_PWD = #{PWD}
      </select>
</mapper>